@use "utils" as *;

.SignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--spacing) / 2);

    h1 {
      margin-bottom: calc(var(--spacing) / 2);
    }
  }

  --primary-background: var(--primary);
  --primary-border: var(--primary);
  --primary-hover-border: var(--primary);

  @include light {
    --primary: #000;
    --primary-hover-background: #000;
    --primary-inverse: #fff;
  }

  @include dark {
    --primary: #fff;
    --primary-hover-background: #fff;
    --primary-inverse: #000;
  }
}
