# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
tmp/

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace files
go.work
go.work.sum

# env files
.env
.env.*

# Frontend
node_modules
.pnpm-store
.npm
*.tsbuildinfo
*.log
coverage
.lcov
.node_repl_history
.vite/

# Editor/IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
