.ErrorBoundary {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  article {
    margin: 0;
    padding: 0;
    background: none;
  }
}
