@use "@picocss/pico/scss/pico" with (
  $semantic-root-element: "#root",
  $theme-color: "pumpkin",
  $css-var-prefix: "--"
);

#root {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}
